<form class="bro-form">
  <div>
    <h1 class="bro-form__title">
      Create account for broLock
    </h1>

    <div class="bro-form__inner-wrap">
      <div class="bro-form__inputs">
        <label class="bro-form__label">
          <p class="bro-form__label__text">
            Name
          </p>

          <input class="bro-form__label__input"
            type="text" />
        </label>

        <label class="bro-form__label">
          <p class="bro-form__label__text">
            Email
          </p>

          <input class="bro-form__label__input"
            type="email"/>
        </label>

        <label class="bro-form__label">
          <p class="bro-form__label__text">
            Password
          </p>

          <input class="bro-form__label__input"
            type="password" />
        </label>
      </div>

      <div class="bro-form__img-wrap">
        <img class="bro-form__img" src="/Lain-singun.gif" />
      </div>
    </div>

    <div class="bro-form__btn-wrap">
      <button>
        Register
      </button>
    </div>
  </div>
</form>
