<nav class="header-nav">
  <a class="logo-icon" routerLink="/">
    <img ngSrc="/logo/logo_min.jpg"
      alt="logo"
      width="56"
      height="56"
      priority
    />
  </a>
  @if (platformSrv.isBrowser() && userInfo) {
    <figure class="user-info">
      <a [routerLink]="['/profile']">
        <img class="user-info__ava"
          [ngSrc]="userInfo.avatar ?? '/broLock_waifu/default-ava.jpg'"
          alt="user avatar"
          width="56"
          height="56"
          priority
        />
      </a>

      <figcaption class="user-info__content">
        <a class="user-info__content__name shy" [routerLink]="['/profile']">
          {{ userInfo.userName }}
        </a>
        <a class="user-info__content__phrase shy" role="button" (click)="aditBroPhrase()">
          {{ userInfo.userPhrase ?? 'add your bro-phrase'}}
        </a>
      </figcaption>
    </figure>
  }

  <div class="header-nav__auth-part">
    @if (authSrv.isLogin | async) {
      <a class="btn header-nav__auth" role="button" (click)="authSrv.logout()">
        Log out
      </a>
    } @else {
      <a class="btn header-nav__auth" routerLink="/signup" routerLinkActive="off">
        Sign up
      </a>
      <a class="btn header-nav__auth" routerLink="/login" routerLinkActive="off">
        Log in
      </a>
    }
  </div>

  <theme-switcher />
</nav>
