:host
  display: block
  padding: 0.5em 0

.header-nav
  display: flex
  gap: var(--standard-gap)
  height: 2em
  .logo-icon
    display: block
    height: 100%
    img
      height: 100%
  .theme-btn
    margin-left: auto
  &__auth-part
    display: flex
    gap: var(--standard-gap)
  &__auth
    &.off
      display: none
