<nav class="header-nav">
  <div class="header-nav__auth-part">
    <a class="btn header-nav__auth" routerLink="/signup" routerLinkActive="off">
      Sign up
    </a>
    <a class="btn header-nav__auth" routerLink="/login" routerLinkActive="off">
      Log in
    </a>
  </div>

  <button class="theme-btn" type="button" (click)="emitTheme()" title="switch theme">
    @if (currentTheme === THEME_ENUM.DARK) {
      <fa-icon [icon]="faMoon"></fa-icon>
    }

    @if (currentTheme === THEME_ENUM.LIGHT) {
      <fa-icon [icon]="faSun"></fa-icon>
    }
  </button>
</nav>
