<div class=" bro-list-wrap">
  <div class="sticky-actions">
    <button class="bro-list-header__add btn-green-pass"
      title="Add new item"
      (click)="addBroLockItem()">
      <plus-icon class="bro-list-header__add__icon" />
    </button>
    <button class="bro-list-header__add btn-green-pass"
      title="Add new item"
      (click)="addBroLockItem()">
      <save-icon class="bro-list-header__add__icon" />
    </button>
  </div>

  <form [formGroup]="broLockForm">
    <div class="bro-list-header">
      <h1 class="bro-list-header__title">
        <input class="bro-form__label__input"
          formControlName="broLockName"
          placeholder="Name of your broLock list" />
        <sub class="bro-list-header__title__action-sub">
          {{ mode() === 'create' ? 'creating' : 'editing' }}
        </sub>
      </h1>
    </div>

    <div class="bro-list-body" formArrayName="items">
      @for (ctrl of itemControls.controls; track $index; let i = $index) {
        <bro-lock-manage-item [formGroup]="ctrl" [formGroupIndex]="i" />
      }
    </div>
  </form>
</div>