@use "mixins"

.bro-list-wrap
  background: var(--section-background-color)
  border-radius: var(--elem-border-radius)
  max-width: 42em
  overflow: hidden

  .bro-list-header
    display: flex
    background: var(--header-elem-color)
    padding: var(--standard-padding)

    &__title
      font-size: 1.6em

      &__action-sub
        color: var(--shy-text-color)
        margin-left: 1em
        font-family: "RobotoLight"

    &__add
      margin-left: auto

  .bro-list-body
    padding: 1em

    .bro-item
      display: flex
      min-width: 22em

      &__drag-icon
        cursor: grab

        &:hover
          color: var(--modal-background)

      &__position
        color: var(--link-btn-alt)

      &__section

        &__label
          display: flex
          align-items: center

          &__text
            margin: 0 1em 0 0
            min-width: 5.5em

          .bro-form__label__input
            min-width: 22em

        &--left
          font-size: 1.5em
          margin-right: 1.5em

        &--mid
          margin-right: 2em

          & > *:not(:last-of-type)
            margin-bottom: 0.5em
