:host
  display: block

.profile
  padding: 1em 0
  &__section
    max-width: 20em
    background: var(--section-background-color)
    padding: var(--elem-padding)
    border-radius: var(--elem-border-radius)
