<div class="profile">
  <list-bro-lock-preview class="profile__section"
    listTitle="Active broLocks"
    [list]="profile()?.activeLocks"
    (editEvent)="goToEdit('Active broLocks')"
  >
    <div>
      <p class="profile__section__empty">
        No active broLocks =.(
      </p>

      <p class="kanji-text">
        <span class="kanji-text__haiku">夕立に</span><span class="kanji-text__haiku">ひとり外見る</span><span class="kanji-text__haiku">女かな。</span>
      </p>
    </div>
  </list-bro-lock-preview>

  <list-bro-lock-preview class="profile__section"
    listTitle="Closed broLocks"
    [list]="profile()?.closeLocks"
  >
    <div>
      <p>There's still more to come</p>

      <p class="kanji-text">
        詩を作るより田を作れ。
      </p>
    </div>
  </list-bro-lock-preview>

  <list-bro-lock-preview class="profile__section"
    listTitle="Created broLocks"
    [list]="profile()?.createdBroLocks"
  >
    <div>
      <p>It's time to create awesome broLock! ね？</p>

      <button>Create broLock</button>

      <p class="kanji-text">
        大功を成す者は衆に謀らず。
      </p>
    </div>
  </list-bro-lock-preview>

  <list-bro-lock-preview class="profile__section"
    listTitle="Added broLocks"
    [list]="profile()?.addedBroLocks"
  >
    <div>
      <p>New content is waiting you!</p>
      <p>行きましょう!</p>

      <button>Search</button>

      <p class="kanji-text">
        <span class="kanji-text__haiku">是は是はと</span><span class="kanji-text__haiku">ばかり</span><span class="kanji-text__haiku">花の吉野山。</span>
      </p>
    </div>
  </list-bro-lock-preview>

  <list-bro-lock-preview class="profile__section"
    listTitle="Deferred broLocks"
    [list]="profile()?.laterLocks"
  >
    <div>
      <p>Welldone! Don't live later, live now!</p>

      <p class="kanji-text">
        <span class="kanji-text__haiku">駈けずる</span><span class="kanji-text__haiku">駒も足嗅ぐ</span><span class="kanji-text__haiku">すみれかな。</span>
      </p>
    </div>
  </list-bro-lock-preview>

  <list-bro-lock-preview class="profile__section"
    listTitle="Trash"
    [list]="profile()?.trashLocks"
  >
    <div>
      <p>Seeing something good in everything is a good habit =)</p>
      <p>と思います・・・</p>

      <p class="kanji-text">
        物は言いよう。
      </p>
    </div>
  </list-bro-lock-preview>
</div>