<form class="bro-form" [formGroup]="singupForm" (submit)="createUser()">
  <div>
    <h1 class="bro-form__title">
      Create broLock account
    </h1>

    <div class="bro-form__inner-wrap">
      <div class="bro-form__inputs">
        <label class="bro-form__label">
          <p class="bro-form__label__text">
            Name
          </p>

          <input class="bro-form__label__input"
            type="text"
            formControlName="name" />
        </label>

        <label class="bro-form__label">
          <p class="bro-form__label__text">
            Email
          </p>

          <input class="bro-form__label__input"
            type="email"
            formControlName="email" />
        </label>

        <label class="bro-form__label">
          <p class="bro-form__label__text">
            Password
          </p>

          <input class="bro-form__label__input"
            type="password"
            formControlName="password" />
        </label>
      </div>

      <div class="bro-form__img-wrap">
        <img class="bro-form__img" src="/gif/Lain-signup.gif" />
      </div>
    </div>

    <div class="bro-form__btn-wrap">
      <button type="submit">
        Sign up
      </button>
    </div>
  </div>
</form>
