<form class="bro-form" [formGroup]="singupForm" (submit)="createUser()">
  <div>
    <h1 class="bro-form__title">
      Create BroLock account
    </h1>

    <div class="bro-form__inner-wrap">
      <div class="bro-form__inputs">
        <label class="bro-form__label">
          <p class="bro-form__label__text">
            Name
          </p>

          @if (
            singupForm.controls.name.dirty &&
            singupForm.controls.name.touched &&
            singupForm.controls.name.hasError('required')
          ) {
            <div class="bro-form__err" @inserRemove>Required field</div>
          }

          <input class="bro-form__label__input"
            type="text"
            formControlName="name" />
        </label>

        <label class="bro-form__label">
          <p class="bro-form__label__text">
            Email
          </p>


          @if (
            singupForm.controls.email.dirty &&
            singupForm.controls.email.touched
          ) {
            @if (singupForm.controls.email.hasError('required')) {
              <div class="bro-form__err" @inserRemove>Required field</div>
            }

            @if (singupForm.controls.email.hasError('email')) {
              <div class="bro-form__err" @inserRemove>Invalid email</div>
            }
          }


          <input class="bro-form__label__input"
            type="email"
            formControlName="email" />
        </label>

        <label class="bro-form__label">
          <p class="bro-form__label__text">
            Password
          </p>

          @if (
            singupForm.controls.password.dirty &&
            singupForm.controls.password.touched &&
            singupForm.controls.password.hasError('required')
          ) {
            <div class="bro-form__err" @inserRemove>Required field</div>
          }

          <input class="bro-form__label__input"
            type="password"
            formControlName="password" />
        </label>
      </div>

      <div class="bro-form__img-wrap">
        <img class="bro-form__img"
          ngSrc="/gif/Lain-signup.gif"
          width="298"
          height="224"
          priority
          placeholder
        />
      </div>
    </div>

    <div class="bro-form__btn-wrap">
      <button type="submit">
        Sign up
      </button>
    </div>
  </div>
</form>
