<form class="bro-form">
  <h1 class="bro-form__title">
    BroLock Login
  </h1>

  <label class="bro-form__label">
    <p class="bro-form__label__text">
      Email
    </p>

    <input class="bro-form__label__input"
      type="email"/>
  </label>

  <label class="bro-form__label">
    <p class="bro-form__label__text">
      Password
    </p>

    <input class="bro-form__label__input"
      type="password" />
  </label>

  <div class="bro-form__btn-wrap">
    <button class="btn-primary">
      Login
    </button>
  </div>
</form>
