<form class="bro-form" [formGroup]="loginForm" (submit)="login()">
  <h1 class="bro-form__title">
    BroLock Login
  </h1>

  <label class="bro-form__label">
    <p class="bro-form__label__text">
      Name
    </p>

    <input class="bro-form__label__input"
      formControlName="name"
      type="text" />
  </label>

  <label class="bro-form__label">
    <p class="bro-form__label__text">
      Password
    </p>

    <input class="bro-form__label__input"
      formControlName="password"
      type="password" />
  </label>

  <div class="bro-form__btn-wrap">
    <button class="btn-primary" type="submit">
      Login
    </button>
  </div>
</form>
