.bro-form
  background: var(--elem-back-color)
  border-radius: var(--elem-border-radius)
  max-width: 42em
  padding: var(--standard-padding)
  &__label
    &__input
      background: var(--input-background-color)
      border: none
      border-radius: var(--input-border-radius)
      color: var(--input-color)
      padding: .4em 0 .4em .4em
  &__btn-wrap
    margin: 1em 0
