@mixin flex-center
  display: flex
  justify-content: center
  align-items: center

@mixin standalone-form
  @include flex-center
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

  .hint
    text-align: center

    &__main-part
      text-decoration: underline

  .bro-form

    &__inner-wrap
      display: flex
      flex-wrap: wrap
      gap: var(--standard-gap)

    &__img-wrap
      position: relative
      overflow: hidden
      border-radius: var(--elem-border-radius)

    &__btn-wrap
      display: flex
      flex-wrap: wrap
      gap: var(--standard-gap)
