<div class="bro-lock-preview">
  <div>
    <div class="bro-lock-preview__showcase">
      <p class="bro-lock-preview__name link-btn--alt">{{ lockInfo().name }}</p>
      <p class="bro-lock-preview__create-data">Created at {{ lockInfo().createDate }}</p>
      <p class="bro-lock-preview__auther">Created by <a class="shy">{{ lockInfo().auther }}</a></p>
      <p class="bro-lock-preview__category">Category <a class="shy">{{ lockInfo().category }}</a></p>
    </div>
    @if (lockInfo().previewImg) {
      <img [ngSrc]="lockInfo().previewImg" alt="lock info preview img" />
    }
  </div>

  <div class="bro-lock-preview__actions">
    <button class="more-info"
      [class.more-info--active]="isMoreInfo()"
      title="More info"
      (click)="toggalMoreInfo()"
    >
      <info-icon />

      <fa-icon [icon]="anglerRight" />
    </button>

    <button title="Move to active list">
      <book-open-icon />
    </button>

    <button title="Move to close list">
      <book-close-icon />
    </button>

    <button title="Move to deferred list">
      <book-mark-icon />
    </button>

    <button title="Move to trash list">
      <trash-icon />
    </button>

    <button title="Delete broLock">
      <minus-icon />
    </button>
  </div>

  <div class="bro-lock-preview__more-info expand-animation"
    [class.expand-animation--open]="isMoreInfo()">

    <div class="expand-animation__content">
      <p class="bro-lock-number-locks">Lock counter: {{ lockInfo().lockCount }}</p>

      <ul class="bro-lock-genres">
        Genres list:
        @for (genre of lockInfo().genres; track genre) {
          <li>{{ genre }}</li>
        }
    </ul>
    </div>

  </div>
</div>
