<form class="bro-form" [formGroup]="resetPasswordForm" (submit)="resetPassword()">
  <div>
    <h1 class="bro-form__title">
      Reset Password
    </h1>

    <div class="bro-form__inner-wrap">
      <div class="bro-form__inputs">
        <label class="bro-form__label">
          <p class="bro-form__label__text">
            New Password
          </p>

          @if (
            resetPasswordForm.controls.password.dirty &&
            resetPasswordForm.controls.password.touched &&
            resetPasswordForm.controls.password.hasError('required')
          ) {
            <div class="bro-form__err" @inserRemove>Required field</div>
          }

          <input class="bro-form__label__input"
            type="password"
            formControlName="password" />
        </label>

        <label class="bro-form__label">
          <p class="bro-form__label__text">
            Repeat new Password
          </p>

          @if (
            resetPasswordForm.controls.repeatPassword.dirty &&
            resetPasswordForm.controls.repeatPassword.touched &&
            resetPasswordForm.controls.repeatPassword.hasError('required')
          ) {
            <div class="bro-form__err" @inserRemove>Required field</div>
          }
          @if (
            resetPasswordForm.controls.repeatPassword.dirty &&
            resetPasswordForm.controls.repeatPassword.touched &&
            resetPasswordForm.controls.repeatPassword.hasError('passwordMismatch')
          ) {
            <div class="bro-form__err" @inserRemove>Passwords do not match</div>
          }

          <input class="bro-form__label__input"
            type="password"
            formControlName="repeatPassword" />
        </label>
      </div>

      <div class="bro-form__img-wrap">
        <img class="bro-form__img"
          ngSrc="/gif/Yukari-Hinata-Chan-reset-password.gif"
          width="214"
          height="224"
          priority
        />
      </div>
    </div>

    <div class="bro-form__btn-wrap">
      <button-spinner [isLoad]="load" typeBtn="submit">
        Reset Password
      </button-spinner>
    </div>
  </div>
</form>
