[data-theme="dark"]
  --background-color: #242424
  --elem-back-color: #343434
  --header-elem-color: #131313
  --btn-background-color: #9a9a9a
  --btn-color: #1f1f1f
  --text-color: #e3e3e3
  --input-color: #a89f9f
  --input-background-color: #1d1d359c
