<main>
  <p class="hint">Bro, <span class="hint__main-part">check your <strong>email</strong></span>! We sent you code. Input it here for confirm your email.</p>

  <form class="bro-form" [formGroup]="confirmForm" (submit)="validateEmail()">
    <div>
      <h1 class="bro-form__title">
        Email confirm
      </h1>

      <div class="bro-form__inner-wrap">
        <div class="bro-form__inputs">
          <label class="bro-form__label">
            <p class="bro-form__label__text">
              Confirmation Code
            </p>

            @if (
              confirmForm.controls.code.dirty &&
              confirmForm.controls.code.touched &&
              confirmForm.controls.code.hasError('required')
            ) {
              <div class="bro-form__err" @inserRemove>Required field</div>
            }

            <input class="bro-form__label__input"
              type="text"
              formControlName="code" />
          </label>
        </div>

        <div class="bro-form__img-wrap">
          <img class="bro-form__img"
            ngSrc="/gif/Sailor-moon-email.gif"
            width="300"
            height="224"
            priority
          />
        </div>
      </div>

      <div class="bro-form__btn-wrap">
        <button type="submit">
          Confirm
        </button>

        <button type="button" (click)="sendNewEmail()">
          Send new email
        </button>
      </div>
    </div>
  </form>
</main>
