<h1 class="bro-list-header">
  Name of your broLock list <sub class="bro-list-header__action-sub">create</sub>
</h1>

<div class="bro-list-wrapp">
  <div class="bro-list-header">
    <div class="bro-list-header__menu"></div>

    <button class="bro-list-header__add">
      <plus-icon class="bro-list-header__add__icon"></plus-icon>
    </button>
  </div>

  <div class="bro-list-body">
    @for (item of broList; track item.order) {
      <div class="bro-item">
        <grip-vertical-icon class="bro-item__drag-icon"></grip-vertical-icon>

        <p class="bro-item__order">
          {{ item.order }}
        </p>

        <p class="bro-item__name">
          {{ item.name }}
        </p>

        @if (item?.authorComment) {
          <p class="bro-item__author-comment-prev">
            {{ item.authorComment }}
          </p>
        }
        <button class="bro-item__delete">
          <minus-icon class="bro-item__delete__icon"></minus-icon>
        </button>
      </div>
    }
  </div>
</div>