<form class="bro-form">
  <h1 class="bro-form__title">
    Create account  for broLock
  </h1>

  <label class="bro-form__label">
    <p class="bro-form__label__text">
      Name
    </p>

    <input class="bro-form__label__input" />
  </label>

  <label class="bro-form__label">
    <p class="bro-form__label__text">
      Email
    </p>

    <input class="bro-form__label__input" />
  </label>

  <label class="bro-form__label">
    <p class="bro-form__label__text">
      Password
    </p>

    <input class="bro-form__label__input" />
  </label>

  <div class="bro-form__btn-wrap">
    <button class="btn-primary">
      Register
    </button>
  </div>
</form>
