@use "node_modules/normalize.css/normalize.css"
@use "themes/dark-theme"
@use "themes/light-theme"
@use "fonts"
@use "bro-form"

:root
  --elem-border-radius: 6px
  --btn-border-radius: 3px
  --input-border-radius: 3px
  --standard-padding: .5em 1em

  font-family: "RobotoRegular"
  font-size: 14px
  box-sizing: border-box

*, ::before, :after
  box-sizing: border-box
  outline: none

html, body
  min-height: 100vh

h1
  font-family: "RobotoMedium"

button
  cursor: pointer
  background: var(--btn-background-color)
  border: none
  border-radius: var(--btn-border-radius)
  color: var(--btn-color)
  padding: .4em
  &:hover
    background: var(--btn-background-color-hover)
  &:active
    background: var(--btn-background-color-active)
