@use "node_modules/normalize.css/normalize.css"
@use "sass/themes/light-theme.sass"
@use "sass/fonts.sass"

:root
  --background-color: #434343
  --text-color: #dfdfdf
  font-family: "RobotoRegular"
  box-sizing: border-box

*, ::before, :after
  box-sizing: border-box

html, body
  min-height: 100vh
