<main class="standalone-form">
  <p class="hint">Bro, <span class="hint__main-part">input your <strong>email</strong> which you indicated when registreted</span>! <br /> We will send you email with link for reset password.</p>

  <form class="bro-form" [formGroup]="forgotForm" (submit)="getEmailResetPassword()">
    <div>
      <h1 class="bro-form__title">
        Forgot password
      </h1>

      <div class="bro-form__inner-wrap">
        <div class="bro-form__inputs">
          <label class="bro-form__label">
            <p class="bro-form__label__text">
              Email
            </p>

            @if (
              forgotForm.controls.email.dirty &&
              forgotForm.controls.email.touched
            ) {
              @if (forgotForm.controls.email.hasError('required')) {
                <div class="bro-form__err" @inserRemove>Required field</div>
              }

              @if (forgotForm.controls.email.hasError('email')) {
                <div class="bro-form__err" @inserRemove>Invalid email</div>
              }
            }

            <input class="bro-form__label__input"
              type="email"
              formControlName="email" />
          </label>
        </div>

        <div class="bro-form__img-wrap">
          <img class="bro-form__img"
            ngSrc="/gif/Yoriko-Nikaidou-forgot.gif"
            width="336"
            height="224"
            priority
            placeholder
          />
        </div>
      </div>

      <div class="bro-form__btn-wrap">
        <button-spinner [isLoad]="load" typeBtn="submit">
          Get email
        </button-spinner>
      </div>
    </div>
  </form>
</main>
