<form class="bro-form" [formGroup]="loginForm" (submit)="login()">
  <div>
    <h1 class="bro-form__title">
      BroLock Login
    </h1>

    <div class="bro-form__inner-wrap">
      <div class="bro-form__inputs">
        <label class="bro-form__label">
          <p class="bro-form__label__text">
            Name
          </p>

          @if (
            loginForm.controls.name.dirty &&
            loginForm.controls.name.touched &&
            loginForm.controls.name.hasError('required')
          ) {
            <div class="bro-form__err" @inserRemove>Required field</div>
          }

          <input class="bro-form__label__input"
            formControlName="name"
            type="text" />
        </label>

        <label class="bro-form__label">
          <p class="bro-form__label__text">
            Password
          </p>

          @if (
            loginForm.controls.password.dirty &&
            loginForm.controls.password.touched &&
            loginForm.controls.password.hasError('required')
          ) {
            <div class="bro-form__err" @inserRemove>Required field</div>
          }

          <input class="bro-form__label__input"
            formControlName="password"
            type="password" />

        </label>
      </div>

      <div class="bro-form__img-wrap">
        <img class="bro-form__img" src="/gif/Yuki-login.gif" />
      </div>
    </div>


    <div class="bro-form__btn-wrap">
      <button class="btn-primary" type="submit">
        Login
      </button>
    </div>
  </div>
</form>
